.body{
    background-color: rgb(17, 17, 17);
}
.start, .end{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.start button{
 font-size: 50px;
 border-radius: 15px;
}
.end p{
    font-size: 40px;
    margin: 20px 0;
}
.end button{
    font-size: 30px;
    padding: 10px 20px;
}
.levels {
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 20px;
  position: fixed;
  right: 20px;
  top: 80px;
}


.level {
  padding: 10px;
  margin: 4px 0;
  background: #222;
  color: rgb(253, 11, 11);
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  opacity: 0.6;
}

.level.active {
  background: orange;
  color: black;
  opacity: 1;
  font-weight: bold;
}

.level.safe {
  color:white;
}
.joker.used{
    background-color: #555;
    color: #999;
    cursor: not-allowed;
}

.game-layout{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

}
.game {
  flex: 1;
  max-width: 70%;
}
.game button{
    margin: 10px 10px;
    border-radius: 15px;
}
.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}
.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}
.timer {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}


@media (min-width: 768px) {
 .game h3{
        font-size: 30px;
    }
 .game h2{
        font-size: 45px;
    }
 .game .options button{
        font-size: 40px;
    }

 
}